:root{
    --color1: #f25454;
    --color2: #f38383;
    --color3: #f1f1f1;
    --color4: #434343;
}

body{
    font-family: 'open sans', sans-serif;
}

.in-front-of{
    font-size: 38px;
    font-weight: bold;
    position:relative;
}

.in-front-of::after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
}

.heading-container:hover .in-front-of::after{
    width: 70px;
}

.navbar-toggler-icon i{
    color: white;
}


/* fixed styling end */



header{
    background-image: url(../Images/slideshow-1.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    animation: move-slide-show 12s infinite;
}

.nav-item a{
  font-weight: bold;
  color: white;
  transition: all 1s;
}

header ul li{
    padding-right: 20px;
}

header ul li a:hover{
    color: var(--color1) !important;
}

nav{
    border-width: 1px;
    border-bottom-style:solid ;
    border-color: gray;
}


.home-content h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.page-settings{
    top: 20%;
    left: 0;
    width: 40px;
    height: 40px;
    color: white;
    z-index: 7;
    transition: all 1s;

}

.page-settings:hover{
    background-color: var(--color4) !important;
}






.next{
    width: 40px;
    height: 60px;
    border: 5px solid white;
    margin-left: 50%;
}

.next::after{
content: "";
position: absolute;
width: 10px;
height: 10px;
border-radius: 50%;
background-color: white;
left: 50%;
transform: translateX(-50%);
margin-top: 5px;
animation: move-point 2s infinite;
}



.arrow{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-left: none;
    top: 50%;
    color: white;
    background-color: transparent;
}

/* header end */
.prgrss{
    overflow: visible !important;
    height: 5px !important;
    margin-bottom: 40px;
}

.prgrss-br{
    position: relative;
    overflow: visible !important;
    background-color: var(--color1);
    height: 5px !important;
    border-radius: 2px;
}
.prgrss-br::before{
color: black;
font-weight: bold;
font-size: 15px;
position: absolute;
top: -500%;
left: 0;
}

.prgrss-br::after{
    color: black;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: -500%;
    right: 0;
    }

.pr1::before{
    content: "Branding";
}
.pr2::before{
    content: "Web Design";
}
.pr3::before{
    content: "Graphic Design";
}
.pr4::before{
    content: "Development";
}
.pr1::after{
    content: "80%";
}
.pr2::after{
    content: "95%";
}
.pr3::after{
    content: "85%";
}
.pr4::after{
    content: "70%";
}

/* about end */
.member-img img{
    width: 100%;
    transition: all .5s;
}

.member-img{
    overflow: hidden;
}

.member-layer{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242, 54, 54, 0);
    transition: all .5s;
}

.member-layer i{
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: all .5s;
}

.member-inner:hover .member-layer{
background-color: rgba(242, 54, 54, .7);
}

.member-inner:hover .member-info h4{
    color: var(--color1);
}

.member-inner:hover i{
    opacity: 1;
}

.member-inner:hover .member-img img{
    transform: scale(1.2,1.2);
}

.member-info h4{
    font-weight: bold;
    transition: all .5s;
}

/* team end */

.contact-button{
    background-color: var(--color1);
    color: white;
    transition: all .5s;
}
.contact-button:hover{
    background-color: var(--color2);
    color: white;
}

/* question end */

.service-icon i{
    font-size: 2rem;
}

.service-info p{
  line-height: 30px;
}

.service-icon i{
    color: var(--color1);
}

.service-inner:hover .service-info h4{
    color: var(--color1);
}

.service-info h4{
    transition: all .5s;
}

.service-item{
    padding: 20px;
}

/* service end */

#service{
    background-color: var(--color3);
}
.important-p{
    font-size: 25px;
    line-height: 3rem;
    font-weight: bold;
}

.carousel-indicators button{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    background-color: var(--color1) !important;
    margin: 0px 10px !important;
    
}

.carousel-indicators{
    transform: translateY(50px);
}
/* slider end */

#contact{
    background-color: var(--color3);
}

.contact-icon i{
 font-size: 38px;
 color: var(--color1);
}

.contact-info:hover .contact-icon-info h4{
    color: var(--color1);
}

.contact-icon-info h4{
    transition: all .5s;
}
.contact-form input, .contact-form textarea{
    border-width: 3px;
    border-style: solid;
    border-color: #ccc;
    box-shadow: none !important;
}

.contact-form input:focus,.contact-form textarea:focus{
    border-color: var(--color1) !important;
}

.contact-form button{
    padding: 10px 30px;
    background-color: var(--color1);
    color: white;
    width: 200px;
}

.contact-form button:hover{
    background-color: var(--color2);
    color: white;
}

